<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .bolded {
      font-weight: bold;
    }
  </style>
</head>

<body>

  <div id="app">
    <p class="bolded">Employee Record:</p>
    <p>Name 1: {{ name1 }}</p>
    <p>Name 2: {{ name2 }}</p>
    <p>Surname: {{ surname }}</p>
    <p v-if="nationality == 'Polish'">Pesel: {{ pesel }} </p>
    <p v-else>{{ nationality }}</p>
    <p>Address: {{ address }}</p>
  </div>

  <div id="app2">
    <p class="bolded">Employee Record 2:</p>
    <p>Name 1: {{ name1 }}</p>
    <p>Name 2: {{ name2 }}</p>
    <p>Surname: {{ surname }}</p>
    <p v-if="foreigner == 'false'">Pesel: {{ pesel }} </p>
    <p v-else>Nationality: {{ nationality }}</p>
    <p>Address: {{ address }}</p>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        name1: 'Adam',
        name2: 'Jan',
        surname: 'Majewski',
        foreigner: false,
        nationality: 'Polish',
        pesel: '92021708229',
        address: 'ul. Szeroka 3, Kraków'
      }
    });

    var app2 = new Vue({
      el: '#app2',
      data: {
        name1: 'John',
        name2: '---',
        surname: 'Brown',
        foreigner: true,
        nationality: 'USA',
        pesel: '92042408230',
        address: 'Holland Drive 4, Chicago'
      }
    });
    
  </script>

</body>

</html>